{% load static %}

<section class="form-banner">
    <div class="container">
        <div class="form-banner__content">
            <div class="form-banner__icon">
                <img src="{% static '/images/anna.webp' %}" alt="Анна Кислицкая —  compliance">
            </div>
            <div class="form-banner__text-container">
                <span class="form-banner__author">Анна Кислицкая ·</span>
                <h2 class="form-banner__title">Брокер не выводит депозит?</h2>
                <p class="form-banner__text">
                    Бесплатный аудит ситуации !
                </p>
            </div>
        </div>

        <button class="form-banner__button" onclick="openConsultationForm()">
            Узнать больше
        </button>
    </div>
</section>

