{% load static %}

<section class="form-banner form-banner--black-white">
    <div class="container">
        <div class="form-banner__content">
            <div class="form-banner__icon">
                <img src="{% static '/images/helga.webp' %}" alt="Money">
                <div class="form-banner__icon-text">
                    <h2 class="form-banner__text">Юрист международного права — Вера Андреева</h2>
                </div>
            </div>
            <div class="form-banner__text-container">
                <h2 class="form-banner__title">Брокер не выводит деньги?</h2>
                <p class="form-banner__text">Бесп юр конс.</p>
            </div>
         
        </div>

        <button class="form-banner__button" onclick="openConsultationForm()">
            Узнать больше
        </button>
    </div>
</section>
