{% load static %}
<div class="blog-sidebar__widget sidebar-form">
    <div class="sidebar-form__header">
        <div class="sidebar-form__icon">⚖️</div>
        <h3 class="sidebar-form__main-title">Юридическая консультация</h3>
    </div>
    <b class="sidebar-form__title">
        Брокер не выводит средства? <br>Узнай, как вернуть деньги!
    </div>
    <form method="post" action="{% url 'consultations:submit' %}" class="sidebar-form__form">
        {% csrf_token %}
        <div class="form-field">
            <input type="text" name="name" class="sidebar-form__input" placeholder="Ваше имя" required>
        </div>
        <div class="form-field">
            <input type="tel" name="phone" class="sidebar-form__input" placeholder="Телефон" required>
        </div>
        <div class="form-field">
            <input type="email" name="email" class="sidebar-form__input" placeholder="E-mail" required>
        </div>
        <div class="form-field">
            <input type="text" name="lost_amount" class="sidebar-form__input" placeholder="Потеряная сума">
        </div>
        <button type="submit" class="sidebar-form__btn">Получить консультацию</button>
    </form>
</div> 