{% load static %}

<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header__content">

            <!-- Logo -->
            <div class="header__logo-section">
                <div class="header__logo">
                    <a href="/">
                        <img
                                src="{% static 'images/logo.png' %}"
                                alt="{{ site_settings.site_name|default:'CheckAllBrokers' }} — логотип"
                                class="header__logo-img"
                                width="148"
                                height="56"
                        >

                    </a>
                </div>
            </div>

            <!-- Navigation -->
            {% include 'includes/navigation.html' %}

            <!-- Banner -->
            <div class="header__banner">
                <button
                        class="btn btn--primary"
                        onclick="openConsultationForm()"
                >
                    Проблемы с брокером?
                </button>
            </div>

        </div>
    </div>
</header>
<style>

</style>